package ${rootPackage}.domain.${meta.domainName}.model.${meta.class_name};

import ${rootPackage}.common.interfaces.domain.BaseContext;
import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class ${meta.ClassName}Context implements BaseContext {
    private Rule rule;
    private Moment moment;

    public enum Description implements BaseContext.BaseDescription {
        DEFAULT,
    }

    public enum Rule implements BaseContext.BaseRule {
        MANAGER,
        WEB_USER,
        APP_USER,
    }

    public enum Moment implements BaseContext.BaseMoment {
        DEFAULT,
    }
}
