package ${rootPackage}.infrastructure.persistent.dao.${meta.domainName}.lucene_repo_strategy;

import ${rootPackage}.common.enums.strategy.LuceneFieldTypeEnum;
import ${rootPackage}.infrastructure.general.common.annos.service.LuceneFieldKey;
import ${rootPackage}.infrastructure.persistent.po.${meta.domainName}.${meta.ClassName};
import ${rootPackage}.infrastructure.service.repo.impl.LuceneBaseDao;
import lombok.Getter;
import lombok.Setter;

@Setter
@Getter
public class ${meta.ClassName}Dao extends ${meta.ClassName} implements LuceneBaseDao<${meta.ClassName}> {
#foreach($item in $meta.fieldClassMap.entrySet())
#if(!!$meta.fieldCommentMap.get(${item.key}))
    /**
     * ${meta.fieldCommentMap.get(${item.key})}
     */
#end
    @LuceneFieldKey(type = LuceneFieldTypeEnum.${item.value.simpleName.toUpperCase()}_POINT, needSort =)
#if(${strUtil.startWith(${item.value.name}, "java.lang")})
    private ${item.value.simpleName} ${item.key};
#else
    private ${item.value.name} ${item.key};
#end
#end

    @Override
    public Class<${meta.ClassName}> poClass() {
        return ${meta.ClassName}.class ;
    }
}
