package ${rootPackage}.api.model.param.${meta.domainName}.${meta.class_name};

import ${rootPackage}.common.interfaces.api.BasePageParam;
import ${rootPackage}.common.toolkit.coding.BeanUtil;
import ${rootPackage}.domain.${meta.domainName}.model.${meta.class_name}.${meta.ClassName}Entity;
import ${rootPackage}.infrastructure.persistent.po.${meta.domainName}.${meta.ClassName};
import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class ${meta.ClassName}PageParam implements BasePageParam<${meta.ClassName}, ${meta.ClassName}Entity> {
    private Integer pageNum = 1;
    private Integer pageSize = 10;

#foreach($item in $meta.fieldClassMap.entrySet())
#if(!!$meta.fieldCommentMap.get(${item.key}))
    /**
     * ${meta.fieldCommentMap.get(${item.key})}
     */
#end
#if(${strUtil.startWith(${item.value.name}, "java.lang")})
    private ${item.value.simpleName} ${item.key};
#else
    private ${item.value.name} ${item.key};
#end
#end

    @Override
    public ${meta.ClassName}Entity toEntity() {
        ${meta.ClassName}Entity entity = new ${meta.ClassName}Entity();
        BeanUtil.copyProperties(this, entity, false);
        return entity;
    }
}
