package ${rootPackage}.domain.${meta.domainName}.model.${meta.class_name};

import com.github.pagehelper.PageInfo;
import ${rootPackage}.common.interfaces.domain.BaseContext;
import ${rootPackage}.common.interfaces.domain.BaseService;
import ${rootPackage}.common.interfaces.infrastructure.Constants;
import ${rootPackage}.infrastructure.persistent.po.${meta.domainName}.${meta.ClassName};
import ${rootPackage}.infrastructure.service.repo.RepoService;
import org.springframework.cache.annotation.CacheConfig;
import org.springframework.cache.annotation.CacheEvict;
import org.springframework.cache.annotation.Cacheable;
import org.springframework.transaction.annotation.Transactional;

import javax.annotation.Resource;
import java.util.List;

@CacheConfig(cacheNames = "ServiceCache:${meta.ClassName}Service", keyGenerator = Constants.SERVICE_CACHE_KEY_GENERATOR)
public abstract class ${meta.ClassName}ServiceBase implements BaseService<${meta.ClassName}, ${meta.ClassName}Entity>, BaseContext.BaseInteraction {
    @Resource
    RepoService repoService;

    @Override
    @Transactional(readOnly = true)
    @Cacheable(keyGenerator = Constants.SERVICE_FUNCTION_CACHE_KEY_GENERATOR)
    public ${meta.ClassName}Entity findById(Long id) {
        ${meta.ClassName}Entity entity = new ${meta.ClassName}Entity();
        entity.setId(id);
        return repoService.findById(entity);
    }

    @Override
    @Transactional(readOnly = true)
    @Cacheable(keyGenerator = Constants.SERVICE_FUNCTION_CACHE_KEY_GENERATOR)
    public ${meta.ClassName}Entity findFirst(${meta.ClassName}Entity entity) {
        return repoService.findFirst(entity);
    }

    @Override
    @Transactional(readOnly = true)
    @Cacheable(keyGenerator = Constants.SERVICE_FUNCTION_CACHE_KEY_GENERATOR)
    public PageInfo<${meta.ClassName}Entity> queryPage(${meta.ClassName}Entity entity, int pageNum, int pageSize) {
        PageInfo<${meta.ClassName}Entity> pageInfo = repoService.queryPage(entity, pageNum, pageSize);
        return pageInfo;
    }

    @Override
    @Transactional(readOnly = true)
    @Cacheable(keyGenerator = Constants.SERVICE_FUNCTION_CACHE_KEY_GENERATOR)
    public List<${meta.ClassName}Entity> queryList(${meta.ClassName}Entity entity, int pageSize) {
        return repoService.queryList(entity, pageSize);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    @CacheEvict(allEntries = true, beforeInvocation = false)
    public ${meta.ClassName}Entity insert(${meta.ClassName}Entity entity) {
        return repoService.insert(entity);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    @CacheEvict(allEntries = true, beforeInvocation = false)
    public boolean update(${meta.ClassName}Entity entity) {
        return repoService.updateById(entity);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    @CacheEvict(allEntries = true, beforeInvocation = false)
    public boolean deleteById(${meta.ClassName}Entity entity) {
        return repoService.deleteById(entity);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    @CacheEvict(allEntries = true, beforeInvocation = false)
    public boolean multiDeleteById(List<${meta.ClassName}Entity> entityList) {
        return repoService.multiDeleteById(entityList);
    }

    @Override
    @CacheEvict(allEntries = true, beforeInvocation = false)
    public void cacheEvict() {
    }
}
